@charset "utf-8";
@import url(./reset.css);

.container {
    width: min(1080px, 100% - 30px);
    margin-inline: auto;
}

.flex {
    display: flex;
}

/* Some things only work in flex containers for mysterious reasons. */
/* Flex vertical behaves similar to the default while having the benefits of being a flex container. */
.flex-vertical {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
}

a {
    /* Don't want this */
    text-decoration: none;
    color: inherit;
}

.hide {
    visibility: hidden;
}