@charset "utf-8";
/* css file for header, footer, and main elements */

:root {
    --app-header-height: 0;
    --app-footer-height: 0;
}

#root {
    /* Flex containers are needed to use margin: auto */
    display: flex;
    flex-direction: column;
    /* 100vh minimum height to ensure the page is not shorter than the screen */
    min-height: 100vh;
}

header {
    height: var(--app-header-height);
}

footer {
    height: var(--app-footer-height);
    /* Pushes the footer all the way down to the bottom of the page when the screen is taller than the page */
    margin-top: auto;
}

main {

}